.sidebar {
    width: 220px;
    min-height: calc(100vh - 70px);

    padding: var(--space-lg);

    background-color: var(--surface-color);
    border-right: 1px solid var(--border-color);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: var(--space-sm);
}

.sidebar a {
    display: block;
    padding: var(--space-md);

    color: var(--text-dark-color);
    font-size: var(--font-md);
    font-weight: var(--font-medium);

    text-decoration: none;
    border-radius: var(--radius-md);
}

.sidebar a:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.sidebar a.active {
    background-color: var(--primary-color);
    color: var(--text-light-color);
}